


  <div class="swiper-space"></div>
  <div class="swiper-container">
    <!-- メイン表示部分 -->
    <div class="swiper-wrapper">
      <!-- 各スライド -->
      <div class="swiper-slide"><%= image_tag "slide.png" %></div>
      <div class="swiper-slide"><%= image_tag "slide2.png" %></div>
      <div class="swiper-slide"><%= image_tag "slide3.png" %></div>
      <div class="swiper-slide"><%= image_tag "slide4.png" %></div>
      <div class="swiper-slide"><%= image_tag "slide5.png" %></div>
    </div>
  </div>
  <%= flash[:user_delete] %>
  <div class="top-explanation-wrapper">
    <%= image_tag "set1.png",class:"explanation-img" %>
    <div class="top-explanation">

      <h1>『Seedeas』とは</h1>
      <p>
        『Seedeas』Seeds of ideas の略でアイデアの種という意味を込めてアプリ名にしています。
      </p>
      <p>
        異常気象の影響で、ここ数年、台風や大雨による災害が多発している日本。
      </p>
      <p>
        フードロスや昨今の台風や豪雨の被害を受けておられる農家さんを応援するサイト。
      </p>
      <p>
        規格外品などB級品を告知したり、天災の被害で出荷出来なくなった農作物に関しては家畜の餌など。
      </p>
      <p>
        また、台風被害対策で収穫時期を早め、サプリメント用や飲料に加工することも提案できます。
      </p>
      <p>
        パティシエさんが利用すれば、スイーツやジャムに変身。もちろん、家庭で味わって頂くのも大丈夫です！
      </p>

    </div>
  </div>
    <div class="top-content-wrapper">
    <div class="cp_keyframes"></div>
      <h2>ピックアップ投稿</h2>
      <% unless @up_idea == nil %>

        <div class="top-content">
          <%= link_to idea_path(@up_idea.id) do %>
            <div class="first-idea-title">
              <%= @up_idea.title %>
            </div>
          <% end %>
          <div class="top-content-box">
            <div class="top-content-left">
              <div class="idea-image" >
                <%= link_to idea_path(@up_idea.id) do %>
                <% if @up_idea.image.attached? %>
                  <%= image_tag @up_idea.image %>
                <% else %>
                  <%= image_tag 'not.png' %>
                <% end %>
                <% end %>
              </div>
            </div>

            <div class="top-content-right">
              <span class="name-span">企業・団体名</span><br>
              <div class="user-name">
                <%= link_to user_path(@up_idea.user.id) do %>
                  <%= @up_idea.user.name %>
                <% end %>
              </div>

              <span class="name-span">生産者</span><br>
              <div class="user-producers">
                <%= link_to user_path(@up_idea.user.id) do %>
                  <%= @up_idea.user.producers %>さん
                <% end %>
              </div>


              <div class="user-image">
                <% if @up_idea.user.image.attached? %>
                  <%= image_tag @up_idea.user.image %>
                <% else %>
                  <%= image_tag 'profile_icon.png' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
