
<div class="idea-contents-lists">
    <ul class='post-lists'>
      <% @ideas.each do |idea| %>
        <li class='post-list'>
          <%= link_to idea_path(idea.id) do %>
            <div class="idea-image" >
              <%= image_tag idea.image if idea.image.attached? %>
            </div>
          <% end %>
            <div class="idea-title">
              <%= idea.title %>
            </div>
            <div class="idea-tag">
              <%= idea.tag.name %>
            </div>
        </li>
      <% end %>
    </ul>
  </div>






<div class="top-paginate"><%= paginate @ideas %></div>
