<div class="idea-list-wrapper">
  <h1>検索結果一覧</h1>
  <div class="idea-list-main">
    <% @ideas.each do |idea| %>
      <figure class="cp_caption">
        <% if idea.image.attached? %>
          <%= image_tag idea.image %>
        <% else %>
          <%= image_tag 'not.png' %>
        <% end %>
        <figcaption>
          <%= link_to idea_path(idea.id) do %>
            <h2><%= idea.title %></h2>
          <% end %>
          <p><%= idea.tag.name %></p>
        </figcaption>
      </figure>
    <% end %>
  </div>
</div>
