
  <div class="top-user-wrapper">
    <div class="user-image">
      <% if @user.image.attached? %>
        <%= image_tag @user.image %>
      <% else %>
        <%= image_tag 'profile_icon.png' %>
      <% end %>
    </div>
    <div class="user-name">
      <h1><%= @user.name %></h1>
    </div>
    <div class="follow-list-wrapper">
      フォローワー数／フォロー数　導入予定
    </div>
  </div>
  <div class="user-toolbar">


    <% if user_signed_in? && @user == current_user %>
      <div class="go-room">
          <%= image_tag 'chat_icon.png', class:"tool-icon"%>
          <%= link_to "チャットルームへ移動する", rooms_path %>
      </div>
      <div class="edit-icons">
          <%= image_tag 'edit-icon.png', class:"tool-icon"%>
          <%= link_to 'アカウント編集', edit_user_path(current_user) %>
      </div>
      <div class="delete-icons">
          <%= image_tag 'delete.png', class:"tool-icon"%>
          <%= link_to 'アカウント削除', user_path(current_user),method: :delete %>
      </div>
    <% end %>

  </div>

