
<div class="user-wrapper">
  <div class="top-user-wrapper">
    <div class="user-image">
      <% if @user.image.attached? %>
        <%= image_tag @user.image %>
      <% else %>
        <%= image_tag 'profile_icon.png' %>
      <% end %>
    </div>
    <div class="user-name">
      <h1><%= @user.name %></h1>
    </div>
    <div class="user-position">
      <h4><%= @user.position %></h4>
    </div>
  </div>
  <div class="user-toolbar">


  </div>
  <div class="user-main-content">


  </div>








  <div class="left-wrapper">
    <div class="edit-icons">
      <% if  user_signed_in? && @user == current_user %>
        <%= image_tag 'edit-icon.png'%>
        <%= link_to 'プロフィール編集', edit_user_path(current_user) %>
          /
        <%= link_to '削除', user_path(current_user),method: :delete %>
      <% end %>
    </div>
    <div class="go-room">
      <% if user_signed_in? && @user == current_user %>
        <%= image_tag 'chat_icon.png'%>
        <%= link_to "チャットルームへ移動する", rooms_path %>
      <% end %>
    </div>
    <div class="like-lists">
      <% if user_signed_in? && @user == current_user %>
        <%= image_tag 'good-icon.png'%>
        <%= link_to "いいねした投稿一覧", root_path %>
      <% end %>
    </div>
    <div class="follow-lists">
      <% if user_signed_in? && @user == current_user %>
        <%= image_tag 'follow-icon.png'%>
        <%= link_to "フォロー", root_path %>
      <% end %>
    </div>
    <div class="follower-lists">
      <% if user_signed_in? && @user == current_user %>
        <%= image_tag 'follower-icon.png'%>
        <%= link_to "フォローワー", root_path %>
      <% end %>
    </div>
  </div>
  <div class="main-wrapper">
  <div class="user-table">




    <div class="user-skill">
      スキル
      <h4>
        <%= @user.skill %>
      </h4>
    </div>

    <div class="user-profile">
      プロフィール
      <p>
        <%= @user.profile %>
      </p>
    </div>
    </div>
    <div class="user-post-list">
      <h1>
        <%= @user.name %>の投稿一覧
      </h1>
    </div>
    <div class="user-idea-contents-lists">
      <% @ideas.each do |idea| %>
        <%= link_to idea_path(idea.id) do %>
          <ul class='post-lists'>
            <li class='post-list'>
              <div class="idea-tag-title">
                <%= idea.tag.name %>
                /
                <%= idea.title %>
              </div>
              <div class="idea-image" >
                <%= image_tag idea.image if idea.image.attached? %>
              </div>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
